# Virtual environment
myenv/

# Python cache
__pycache__/
*.pyc
*.pyo

# CatBoost logs
catboost_info/
*.tfevents
*.json

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
*.pkl
*.joblib
*.h5
